<%= form_with model: article do |form| %>
<div>
    <%= form.text_field :title, class:"input is-primary", placeholder: :title %>
    <% if article.errors.any? %>
    <%= article.errors.full_messages_for(:title).each do |message| %>
    <div>
        <%= message %>
    </div>
    <% end %>
    <% end %>
</div>
<div>
    <%= form.text_area :body, class:"textarea is-primary", placeholder: :body %>
    <% if article.errors.any? %>
    <%= article.errors.full_messages_for(:body).each do |message| %>
    <div>
        <%= message %>
    </div>
    <% end %>
    <% end %>
</div>
<br />
<div>
    <%= form.submit class:"button is-primary is-outlined" %>
</div>

<% end %>